{% load static %}
<!DOCTYPE html>

<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <title>Mathieu AUBRY</title>
        <link rel="stylesheet" href="{% static 'mathieu/css/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lemon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="table" style="font-family: Poppins">
                 <ul>
                    <li class="menus-linkedin"><a href="https://www.linkedin.com/in/mathieu-aubry-2824b0175/" target="_blank">Linkedin</a></li>
                    <li class="menus-css"><a href="https://github.com/rezatera854" target="_blank">Mes traveaux</a></li>
                    <li class="menus-contact"><a href="">Contact</a></li>
                    <li class="menus-parc"><a href="cv"> Mon CV</a></li>
                </ul>
            </div>
        </nav>
        <nav>
            <div class="wrapper">
                <div class="text-img" style="font-family: Bree Serif;">
                    <p class="text-img-nom">Mathieu Aubry</p>
                    <p class="text-img-fil">L3 CILS</p>
                    <p class="text-img-int">Conception et Intelligence des Logiciels et Systèmes</p>
                </div>
                
                <div class="parrallax-img" style="background-image: url({% static 'mathieu/img/img.jpg' %})">
           
                </div>

                    <p class="pres" style="font-family: Bree Serif;">Bonjour je suis actuellement en 3e année de licence d'informatique dans la filière CILS : Conception et Intelligence des logiciels et Systèmes.
                        <br>
                        <br>
                        <U>Je suis à la recherche d'un stage de fin d'année de 7 à 13 </U> semaines dans le développement d'applications ou en web front ou même dans un autre domaine du moment qu'il est en rapport avec l'informatique.
                        <br>
                        <br>
                        J'ai pour vocation de devenir data  Scientist ou à travailler dans l'analyse de donner et dans l'intelligence artificielle    
                    </p>
            </div>
        </nav>
    </body>
</html>