
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(201, 201, 201, 0.685);
}

nav{
    width: 100%;
    background-color: #000;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li {
    list-style: none;
    float: left;

}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
}
.menus-linkedin{
    transition: 0.1s;
}
.menus-linkedin:hover{
    background-color: rgba(255, 255, 255, 0.199);
    transform: scale(1.05);
}
.menus-css{
    transition: 0.3s;
}
.menus-css:hover{
    background-color: rgba(255, 255, 255, 0.199);
    transform: scale(1.05);
}
.menus-js{
    transition: 0.3s;
}
.menus-js:hover{
    background-color: rgba(255, 255, 255, 0.199);
    transform: scale(1.05);
}
.menus-contact{
    transition: 0.3s;
}
.menus-contact:hover{
    background-color: rgba(255, 255, 255, 0.199);
    transform: scale(1.05);
}
.menus-parc{
    transition: 0.3s;
}
.menus-parc:hover{
    background-color: rgba(255, 255, 255, 0.199);
    transform: scale(1.05);
}
.table{
    display: table;
    margin: 0 auto;
    
}


.wrapper{
    height: 95vh;
    
}
.parrallax-img{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parrallax-img{
   
}

.text-img{
    width: 100%;
    height: 100vh;
    color: rgba(255,255,255, 0.6);
    position:  absolute;   
}

.text-img-nom{
    margin:0px;
    justify-content: center;
    display: flex;
    margin-top: 9%;
    font-size: 8vw;
}
.text-img-fil{
    margin: 0px;
    justify-content: center;
    display: flex;
    font-size: 4vw;

}
.text-img-int{
    margin:0px;
    justify-content: center;
    display: flex;
    font-size: 1.5vw;
    
}
.pres{
    margin: 10px;
    padding: 10px;
    
    font-size: 2.5rem;;
}
@media (max-width:1024px){
    .wrapper{
        height: 75vh;
    }
}
